@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    font-family: 'Bangers', cursive;
    background-image: linear-gradient(to right,#96c2e7,#e2b0d3, #ffc1ba);
    color: black;
    font-weight: bold;
    font-size: 22pt;
}

div#calculadora{
    font-family: 'Segoe UI', sans-serif;
    color: black;
    background-color:  #eaedef;
    font-size: 15pt;
    width: 300px;
    height: 520px;
    margin: 20px auto;
    position: relative;
    top: 50px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2), 0 6px 20px 0px rgba(0,0,0,.5);
}

div#tela{
    height: 120px;
    text-align: right;
}

.historicoVisor{
    text-align: right;
    width: 250px;
    height: 30px;
    margin: 20px 10px auto 15px;
    font-size: 15px;
    font-weight: lighter;
    background-color:  #eaedef;
    color: #83838b;
    border: none;
}

.saidaVisor{
    width: 250px;
    height: 70px;
    margin: 0 10px auto 15px;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    background-color:  #eaedef;
    border: none;
}

div#teclado{
    padding: 5px;
    margin-top: 5px;
}

.functionM{
    background-color: #eaedef;
    float: left;
    width: 48px;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    border-width: 0;
    transition: background-color 0.2s;
}

.functionM:hover{
    border-width: 1px;
}

.listaMemoria{
    display: none;
    position: absolute;
    left: 250px;
    top: 170px;
    min-width: 45px;
    border: 1px solid black;
    padding: 5px 0;
    margin: 0;
    list-style-type: none;
    background-color: #eaedef;
}

.listaMemoria li {
    padding: 3px 10px;
    text-align: center;
  }
  
  .listaMemoria li:hover {
    background-color: #bba3e0;
  }
  
.operador{
    margin: 5px 2px 5px 2px;
    width: 68px;
    height: 50px;
    float: left;
    font-size: 12pt;
    background-color: #8dd5f3;
    border-width: 1px;
    transition: background-color 0.2s;
}

#igual.operador{
    background-color: #ebabf1;
}

#igual.operador:hover{
    background-color: #c76ed3;;
}

#inverteSinal.operador{
    background-color: #f8f9fd;
}

.operador:hover,.numero:hover{ 
    background-color: #bba3e0;
}

.numero{
    margin: 5px 2px 5px 2px;
    width: 68px;
    height: 50px;
    float: left;
    font-size: 12pt;
    font-weight: bold;
    background-color: #f8f9fd;
    border-width: 1px;
    transition: background-color 0.2s;
}



